.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
    padding:10px 20px;
    // background: linear-gradient(to bottom, rgb(232, 67, 67) , rgb(255, 247, 247));
    background: linear-gradient(rgb(23, 22, 20), rgb(67, 63, 56));

    // background: linear-gradient(to bottom, rgb(221, 232, 67) , rgb(255, 247, 247));
    .inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        max-width: 1200px;
        margin: auto;
        // background: linear-gradient(to bottom, rgb(75, 254, 90) , rgb(255, 255, 255));
        background: linear-gradient(to bottom, rgb(223, 244, 226) , rgb(255, 255, 255));
        .logo{
            
        }
        .navlist{
            display: flex;
            gap: 30px;
            p{
                font-size: 14px;
                font-weight: 600;
                color: black;
            }
        }
    }
}