*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace; */
  font-family: 'Montserrat', sans-serif;
}