.about{
    background: linear-gradient(rgb(23, 22, 20), rgb(67, 63, 56));
    background-color: rgb(23, 22, 20);
    position: relative;

    .image{
        position: absolute;
        inset: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        background-image: url(../../public/logo.png);
        background-repeat: no-repeat;
        opacity: .05;
        
    }
    .inner{
        padding: 150px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        margin: auto;

        .topic{
            text-align: center;
            font-size: 50px;
            font-weight: 700;
            max-width: 900px;
            margin: auto;
            padding: 220px 0;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient(to left bottom, rgb(208, 234, 205), rgb(230, 231, 229) , rgb(225, 225, 225));
            text-shadow: 2px 1px 3px rgb(236, 237, 236);
            p{
              border-bottom: 1px solid rgb(208, 233, 207);  
              display: inline-block;
            }
        }
        .manager{
            display: none;
            max-width: 700px;
            margin: auto;
            // display: flex;
            align-items: center;
            justify-content: center;
            gap: 70px;
            padding: 40px 0;
            .content{
                display: flex;
                gap: 10px;
                flex-direction: column;
                h4{
                    font-size: 20px;
                    font-weight: 700;
                }
                h5{
                    padding-left: 20px;
                }
            }
            .images{
                position: relative;
                width: 160px;
                height: 120px;
                opacity: 1;
                border-radius: 10px;
                overflow: hidden;
            }
            
        }
        .images{
            position: relative;
            width: 80%;
            height: 350px;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 3px 5px 14px #f3f3f3;;
            
        }
    }
}
@media (max-width:500px) {
    .about{
        .inner{
            .topic{
                p{
                    font-size: 22px;
                }
                h6{
                    font-size: 20px;
                }
            }

            .images{
                height: 250px;
            }
        }
        .manager{
            flex-direction: column;
        }
        .image{
            top: 10%;
            left: 0;
            transform: translate(0 , 0);
        }
    }
}
@media (max-width:400px){
    .about{
        .inner{
            .images{
                height: 220px;
            }
        }
    }
}